/*======= begin callback ======*/
.callback{
    padding-top: 79px;
    padding-bottom: 73px;
}
.callback__title, .callback__subtitle{
    font-size: rem(48px);
    font-family:'museo_sans_cyrl900';
    color: $white;
    text-align: center;
    text-transform: uppercase;
}
.callback__subtitle{
  margin-bottom: 65px;
}
.callback__form{
    text-align: center;
}
.callback__form-title{
    font-size: rem(30px);
    font-family:'museo_sans_cyrl700';
    color: $white;
    margin-bottom: 21px;
}

/*======= end callback ========*/
