/*======= begin question ======*/
.question{
  background: url("/img/bg/bg__question.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  position: relative;
}
.question__content{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba($grey, .9);

}
.question__title{
  padding-top: 77px;
  margin-bottom: 35px;
  font-size:rem(48px);
  font-family: 'museo_sans_cyrl900';
  color: $white;
  text-transform: uppercase;
  text-align: center;
}
.question__form {
  margin-bottom: 102px;
}
/*======= end question ========*/
