/*======= begin team ======*/
.team{
  position: relative;
}
.team__title{
  font-size: rem(48px);
  font-family:'museo_sans_cyrl900';
  color: #fec15c;
  text-align: center;
  text-transform: uppercase;
  margin-top: 64px;
}
.team__desc{
  font-size: rem(24px);
  font-family:'museo_sans_cyrl700';
  margin-top: 65px;
}

.team__content-pic {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 543px;
}

.team__content-img{
  position: absolute;
  bottom: -24px;
  max-width: 100%;
  max-height: 100%;
}
/*======= end team ========*/
